
<title>LANCE</title>
<script src="/js/jquery.js"></script>
    <link rel="stylesheet" href="/css/uikit.gradient.css" />
	<script src="/js/uikit.js"></script>
	<script src="/js/Chart.bundle.js"></script>

<nav class="uk-navbar">
    <ul class="uk-navbar-nav">
    	<a href="/" class="uk-navbar-brand">Ion Beta</a>
    	<li><a href="/install">New Optrode</a></li>
        <li><a href="/collect">Start Collecting</a></li>
        <li><a href="/setup">Setup Options</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
</nav>
