                    <ul id="admin-sidebar">
                        <a  href="/"><li>Dashboard</li></a>
                        <a  href="/wiki"><li>Wiki</li></a>
                        <hr class="dark">
                        <a  href="/newfiber"><li>Install New Fiber</li></a>
                        <a  href="/startsequence"><li>Start Sample Sequence</li></a>
                        <a  href="/options"><li>Options</li></a>
                    </ul>