<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<body>
    <iframe src='http://192.168.42.1/cgi-bin/startsequence.php'height="0" width="0"></iframe>
<h1 id="countdown-holder">Calculating  Seconds Remaining</h1>

<h3><button class="uk-button uk-button-danger uk-button-large" onclick="window.location.href='/stop'">Stop</button></h3>


</body>

<script type="text/javascript">

// DETERMINE TOTAL DATA COLLECTION TIME FOR COUNTDOWN DISPLAY
var time = parseInt(localStorage.getItem("seqInt")) * parseInt(localStorage.getItem("aqNumber")) + 1000;
var timer;

$(document).ready ( function(){
 timer = setInterval(function(){ countdown(); }, 1000);
});

countdown = function(){
if ( time <= 0)
{
window.location.href = "/resultsData";
clearInterval(timer);
}
else
{
time = time - 1000;
document.getElementById("countdown-holder").innerHTML = time/1000 + " Seconds Remaining";
}}
</script>
    </html>
