<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<body>


<div class="uk-grid">
    <div class="uk-width-medium-8-10">
    <div class="uk-panel uk-panel-box">                             
        <strong><h1>Confirm Aquisition Parameters</h1></strong>
        <div id="paramCheck"></div>
        <div id="frameBox"></div>

            <div>
             <table name="idForm" align="center">
                SAMPLE ID: <input id="ID" type="text"/>
                <input type="submit" value="Submit"  onclick="setId()">
            </table> 
            </div>


        

            <h3>
            <button class="uk-button uk-button-danger uk-button-large"  onclick="window.location.href='/setup_change'">Change Values</button>
            <button class="uk-button uk-button-danger uk-button-large"  onclick="window.location.href='/acquireData?intTime='+localStorage.getItem('intTime')+'&seqInt='+localStorage.getItem('seqInt')+'&aqNumber='+localStorage.getItem('aqNumber')+'&scanAvg='+localStorage.getItem('scanAvg')+'&'">Accept</button>

            </h3>
    </div>
    </div>
</div>
</body>

<script type="text/javascript">


function setId(){
     localStorage.setItem("ID",document.getElementById("ID").value) 
 }
console.log(localStorage.getItem("folderName"));

  
fileNote = "_S" + document.getelementById ("ID") + "_" ; 
fName = localStorage.getItem("folderName");

function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1);
        day = '' + d.getDate();
        year = d.getFullYear();
        hour = String(d.getHours());
        min = String(d.getMinutes());
        sec = String(d.getSeconds());

        

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    if (hour.length < 2) hour = '0' + hour;
    if (min.length < 2) min = '0' + min;
    if (sec.length < 2) sec = '0' + sec;

    return [year, month, day].join('-') + 'T' + [hour, min, sec].join('-');
}


 $(document).ready ( function(){
    

document.getElementById("paramCheck").style.color = "#ffffff";
document.getElementById("paramCheck").style.fontSize = "large";

document.getElementById("paramCheck").innerHTML = "<center><table><tr><td>Aquisition Number: </td><td>" + localStorage.getItem("aqNumber") + "</td></tr><tr><td>Integration Time: </td><td>" + localStorage.getItem("intTime")+ "</td></tr><tr><td>Scan Average: </td><td>" + localStorage.getItem("scanAvg")+ "</td></tr><tr><td>Box Car: </td><td>" + localStorage.getItem("boxCar")+ "</td></tr><tr><td>Sequence Interval: </td><td>" + localStorage.getItem("seqInt")+ "</td></tr><tr><td>Prefix:</td><td>" + localStorage.getItem("prefix")+"</td></tr></table><hr>Approximate Scan Time: " + ((parseInt(localStorage.getItem("seqInt")) * parseInt(localStorage.getItem("aqNumber")) + 1000)/1000) +" Seconds</center>";

document.getElementById("frameBox").innerHTML ="<iframe src='http://192.168.42.1/cgi-bin/setmaxacquisitions.php?acquisitions="+ String(localStorage.getItem("aqNumber")) +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setintegration.php?time="+ String(localStorage.getItem("intTime")) +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setaverage.php?scans="+ String(localStorage.getItem("scanAvg")) +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setboxcar.php?width="+ String(localStorage.getItem("boxCar")) +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setsequenceinterval.php?interval="+ String(localStorage.getItem("seqInt")) +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setprefix.php?prefix="+ String(formatDate(Date())) + String(fileNote) + String(localStorage.getItem("prefix")) +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setsavelocation.php?location=/home/ocean/"+ String(fName) + "' height='0' width='0'></iframe>";

 })

</script>

</html>
