<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<body>

<div class="uk-grid">
    <div class="uk-width-medium-8-10">
    <div class="uk-panel uk-panel-box">                             
        <strong><h1>Confirm Aquisition Parameters</h1></strong>
        <div id="paramCheck"></div>
        <div id="frameBox"></div>
            <h3>
            <button class="uk-button uk-button-danger uk-button-large"  onclick="window.location.href='/setup_change'">Change Values</button>
            <button class="uk-button uk-button-danger uk-button-large"  onclick="window.location.href='/acquireData'">Accept</button>
            </h3>
    </div>
    </div>
</div>
</body>

<script type="text/javascript">

    import System.IO;
    import System;  // Used for getting the date
     
    function Start () {
        // Create an instance of StreamWriter to write text to a file.
        sw = new StreamWriter("TestFile.txt");
        // Add some text to the file.
        sw.Write("This is the ");
        sw.WriteLine("header for the file.");
        sw.WriteLine("-------------------");
        // Arbitrary objects can also be written to the file.
        sw.Write("The date is: ");
        sw.WriteLine(DateTime.Now);
        sw.Close();
    }



function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1);
        day = '' + d.getDate();
        year = d.getFullYear();
        hour = d.getHours();
        min = d.getMinutes();
        sec = d.getSeconds();

        

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    if (hour.length < 2) hour = '0' + hour;
    if (min.length < 2) min = '0' + min;
    if (sec.length < 2) sec = '0' + sec;

    return [year, month, day].join('-') + 'T' + [hour, min, sec].join('-');
}

 $(document).ready ( function(){
    Start();

document.getElementById("paramCheck").style.color = "#ffffff";
document.getElementById("paramCheck").style.fontSize = "large";

document.getElementById("paramCheck").innerHTML = "<center><table><tr><td>Aquisition Number: </td><td>" + localStorage.getItem("aqNumber") + "</td></tr><tr><td>Integration Time: </td><td>" + localStorage.getItem("intTime")+ "</td></tr><tr><td>Scan Average: </td><td>" + localStorage.getItem("scanAvg")+ "</td></tr><tr><td>Box Car: </td><td>" + localStorage.getItem("boxCar")+ "</td></tr><tr><td>Sequence Interval: </td><td>" + localStorage.getItem("seqInt")+ "</td></tr><tr><td>Prefix:</td><td>" + localStorage.getItem("prefix")+"</td></tr></table><hr>Approximate Scan Time: " + ((parseInt(localStorage.getItem("seqInt")) * parseInt(localStorage.getItem("aqNumber")) + 1000)/1000) +" Seconds</center>";

document.getElementById("frameBox").innerHTML ="<iframe src='http://192.168.42.1/cgi-bin/setmaxacquisitions.php?acquisitions="+ localStorage.getItem("aqNumber") +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setintegration.php?time="+ localStorage.getItem("intTime") +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setaverage.php?scans="+ localStorage.getItem("scanAvg") +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setboxcar.php?width="+ localStorage.getItem("boxCar") +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setsequenceinterval.php?interval="+ localStorage.getItem("seqInt") +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setprefix.php?prefix="+ formatDate(Date()) + localStorage.getItem("prefix") +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setsavelocation.php?location=/home/ocean'height='0' width='0'></iframe>";

 })

</script>

</html>
