<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<body>

<div class="uk-grid">
    <div class="uk-width-medium-8-10">
    <div class="uk-panel uk-panel-box">                             
        <strong><h1>STEP 1: DARK SPECTRUM MEASUREMENT</h1></strong>
        <div id="paramCheck"></div>
        <div id="frameBox"></div>

            
            <h3><button class="uk-button uk-button-danger uk-button-large" onclick="window.location.href='/acquireDark'">GET IT</button></h3>

    </div>
    </div>
</div>
</body>
<script type="text/javascript">
//----------------------------------------------------------------------------------// 
// COLLECT DARK SPECTRUM SEQUENCE 
// Sets up Dark Spec Acquisition
// States current settings to be used
// No pulse for light source, measures background buzz of spectrometer
//----------------------------------------------------------------------------------// 

fName = $_GET('folderName');



function $_GET(q,s) {
    s = (s) ? s : window.location.search;
    var re = new RegExp('&amp;'+q+'=([^&amp;]*)','i');
    return (s=s.replace(/^\?/,'&amp;').match(re)) ?s=s[1] :s='';
}

function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1);
        day = '' + d.getDate();
        year = d.getFullYear();
        hour = d.getHours();
        min = d.getMinutes();
        sec = d.getSeconds();

        

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    if (hour.length < 2) hour = '0' + hour;
    if (min.length < 2) min = '0' + min;
    if (sec.length < 2) sec = '0' + sec;

    return [year, month, day].join('-') + 'T' + [hour, min, sec].join('-');
}



 $(document).ready ( function(){
localStorage.setItem('folderName',fName);


document.getElementById("paramCheck").style.color = "#ffffff";
document.getElementById("paramCheck").style.fontSize = "large";

document.getElementById("paramCheck").innerHTML = "<center><table><tr><td>Integration Time: </td><td>" + localStorage.getItem("intTime")+ "</td></tr><tr><td>Scan Average: </td><td>" + localStorage.getItem("scanAvg")+ "</td></tr><tr><td>Box Car: </td><td>" + localStorage.getItem("boxCar") +"</td></tr></table><hr></center>";

document.getElementById("frameBox").innerHTML ="<iframe src='http://192.168.42.1/cgi-bin/setmaxacquisitions.php?acquisitions="+ '2' +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setintegration.php?time="+ String(localStorage.getItem("intTime")) +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setaverage.php?scans="+ String(localStorage.getItem("scanAvg")) +"' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setboxcar.php?width="+ String(localStorage.getItem("boxCar")) +"' height='0' width='0'></iframe    <iframe src='http://192.168.42.1/cgi-bin/setsequenceinterval.php?interval=2000' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setprefix.php?prefix="+ String(formatDate(Date())) + "DARK" + "' height='0' width='0'></iframe>    <iframe src='http://192.168.42.1/cgi-bin/setsavelocation.php?location=/home/ocean/" + String(fName) + "' height='0' width='0'></iframe>";

 })

</script>

</html>
