<!doctype html>

<head>
    <title>Ion Beta | Dashboard V1</title>
    <%= include /partials/header.ejs %>

</head>
<body>



 <div class="uk-vertical-align ">
 <div class="uk-grid uk-grid-match" data-uk-grid-match="{target:'.uk-panel'}" data-uk-grid-margin>
                                
                                <div class="uk-width"  style="width: 300px;" uk-vertical-align-middle >
                                  <a href="/install01">
                                    <div class="uk-panel uk-panel-box" >
                                      <div class="uk-panel-teaser" >
                                         <img src="./images/DASH_FIBRE.png" alt="" width="300"></div>
                                        <h5 class="uk-margin-remove" >Tap here for steps to install a new optrode</h5>
                                    </div>
                                    </a>
                                </div>

                                <div class="uk-width" style="width: 300px;" uk-vertical-align-middle>
                                  <a href="/collectDark">
                                    <div class="uk-panel uk-panel-box">
                                      <div class="uk-panel-teaser">
                                         <img src="./images/DASH_START.png" alt="" width="300"></div>
                                        <h5 class="uk-margin-remove">Tap here to start data collection</h5>
                                        </div>
                                    </a>
                                </div>
                                

                                <div class="uk-width" style="width: 300px;"  uk-vertical-align-middle>
                               
                                  <a href= "/setup_change">
                                    <div class="uk-panel uk-panel-box">
                                      <div class="uk-panel-teaser">
                                         <img src="./images/DASH_SETUP.png" alt="" width="300"></div>
                                        <h5 class="uk-margin-remove">Tap here to adjust settings</h5>
                                        
                                    </div>
                                    </a>
                                    </script>

                                </div>

                                <div class="uk-width" style="width: 300px;"  uk-vertical-align-middle>
                                  <a href="/help">
                                    <div class="uk-panel uk-panel-box">
                                      <div class="uk-panel-teaser">
                                         <img src="./images/DASH_HELP.png" alt="" width="300"></div>
                                        <h5 class="uk-margin-remove">Tap here for reference documents</h5>
                                        
                                    </div>
                                    </a>
                                </div>
                            </div>

</div><br>


    </html>

