<!doctype html>

<head>
    <title>Ion Beta | Dashboard V1</title>
    <%= include /partials/header.ejs %>
</head>
<body>

 <div class="uk-vertical-align ">
 <div class="uk-grid uk-grid-match" data-uk-grid-match="{target:'.uk-panel'}" data-uk-grid-margin>
                                <div class="uk-width-medium-1-4 uk-vertical-align-middle ">
                                  <a href="/install01">
                                    <div class="uk-panel uk-panel-box">
                                      <div class="uk-panel-teaser">
                                         <img src="./images/DASH_FIBRE.png" alt=""></div>
                                        <h3 class="uk-panel-title">Install New Fiber</h3>
                                        Click Here to Install a New Fiber
                                    </div>
                                    </a>
                                </div>

                                <div class="uk-width-medium-1-4 uk-vertical-align-middle">
                                  <a href="/collect">
                                    <div class="uk-panel uk-panel-box">
                                      <div class="uk-panel-teaser">
                                         <img src="./images/DASH_START.png" alt=""></div>
                                        <h3 class="uk-panel-title">Start Collecting Data</h3>
                                        Start Collecting Data
                                    </div>
                                    </a>
                                </div>

                                <div class="uk-width-medium-1-4 uk-vertical-align-middle">
                               
                                  <a href= "/setup_change">
                                    <div class="uk-panel uk-panel-box">
                                      <div class="uk-panel-teaser">
                                         <img src="./images/DASH_SETUP.png" alt=""></div>
                                        <h3 class="uk-panel-title">Setup Options</h3>
                                        Configure Setup Options
                                    </div>
                                    </a>
                                    </script>

                                </div>

                                <div class="uk-width-medium-1-4 uk-vertical-align-middle">
                                  <a href="/help">
                                    <div class="uk-panel uk-panel-box">
                                      <div class="uk-panel-teaser">
                                         <img src="./images/DASH_HELP.png" alt=""></div>
                                        <h3 class="uk-panel-title">Help</h3>
                                        Find Help and Troubleshooting Tips
                                    </div>
                                    </a>
                                </div>
                            </div>
</div><br>
<form action="http://192.168.42.1/cgi-bin/settings.php" method="post">
<h3><button class="uk-button uk-button-danger uk-button-large" name="shutdown" value="Shutdown" id="set" type="submit">Shutdown</button></h3>
</form>
</body>

    </html>

