<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<strongody>

<div class="uk-grid" data-uk-grid-match>
    <div class="uk-width" style="width: 450px;"><img class="uk-thumbnail" src="./images/F01_Req_Materials.png" alt="">
    </div>
    <div class="uk-width" style="width: 330px; height: 390px;" >
	<div class="uk-panel uk-panel-box" style="height: 100%;">                             
        <strong><h1>Step 1</h1></strong>
        <p>Get out the required materials to perform an optrode installation</p>
        <a href="/install02">
        <br>
        <button class="uk-button uk-button-danger uk-button-large" type="button" style="position: absolute; bottom: 5px; right: 5px;">Next</button>
        </a>
    </div>
    </div>
</div>

</body>

    </html>
