<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<strongody>


<!-- <div class="uk-thumbnail uk-thumbnail-expand" width = "100%">
    <img src="http://placekitten.com/200/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
    <img src="http://placekitten.com/400/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
</div>
 -->

 <div class="uk-grid">
    <div class="uk-width-medium-5-10"><img class="uk-thumbnail" src="./images/F5_OVERVIEW.png" alt="">
    </div>
    <div class="uk-width-medium-5-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Step 5</h1></strong>
        <h3>Remove cover of ion system to reveal internal components and ensure power supply is connceted to LED.</h3>
        
        <a href="/install04">
        <br><Button class="uk-button uk-button-danger uk-button-large" type="button">Prev</button>
        </a>        

        <a href="/install06">
        <br><Button class="uk-button uk-button-danger uk-button-large" type="button">Next</button>
        </a>
    </div>
</div>

    

</body>

    </html>
