<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<strongody>

<div class="uk-grid" data-uk-grid-match>
    <div class="uk-width" style="width: 400px;"><img class="uk-thumbnail" src="./images/F1_NEWFIB.png" alt="">
    </div>
    <div class="uk-width" style="width: 400px;" >
	<div class="uk-panel uk-panel-box" style="height: 100%;">                             
        <strong><h1>Step 1</h1></strong>
        <p>Remove the 4 red endcaps from sample ports and optical connections</p>
        <a href="/install02">
        <br>
        <button class="uk-button uk-button-danger uk-button-large" type="button" style="position: absolute; bottom: 5px; right: 5px;">Next</button>
        </a>
    </div>
    </div>
</div>

</body>

    </html>
