<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<strongody>


<!-- <div class="uk-thumbnail uk-thumbnail-expand" width = "100%">
    <img src="http://placekitten.com/200/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
    <img src="http://placekitten.com/400/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
</div>
 -->

 <div class="uk-grid">
    <div class="uk-width-medium-3-10"><img class="uk-thumbnail" src="./images/F5_OVERVIEW.png" alt="">
    </div>
    <div class="uk-width-medium-7-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Step 1</h1></strong>
        <h3>Remove cover of ion system to reveal internal components and ensure power supply is connceted to LED.</h3>
    </div>
    </div>
</div>

    <div class="uk-grid">
    <div class="uk-width-medium-3-10"><img class="uk-thumbnail" src="./images/F6_TESTLT.png" alt="">
    </div>
    <div class="uk-width-medium-7-10">
	<div class="uk-panel uk-panel-box">                             
         <strong><h1>Step 2</h1></strong>
        <h3>Test the LED by switching the toggle switch located on the back of the LED to the "Contin." position. The light should be visible at the front of the LED.</h3>
    </div>
    </div>
</div>


<a href="/install3">
    <div class="uk-grid">
    <div class="uk-width-medium-3-10"><img class="uk-thumbnail" src="./images/F7_PULSE.png" alt="">
    </div>
    <div class="uk-width-medium-7-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Step 3</h1></strong>
        <h3>If the LED is functional, switch the toggle back to "Pulse" mode for normal operations. The LED should now appear off.<br><Button class="uk-button uk-button-danger uk-button-large" type="button">Next</button></h3>
    </div>
    </div>
</div>
</a>

</body>

    </html>
