<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<strongody>


<!-- <div class="uk-thumbnail uk-thumbnail-expand" width = "100%">
    <img src="http://placekitten.com/200/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
    <img src="http://placekitten.com/400/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
</div>
 -->

 <div class="uk-grid">
    <div class="uk-width-medium-3-10"><img class="uk-thumbnail" src="./images/F1_NEWFIB.png" alt="">
    </div>
    <div class="uk-width-medium-7-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Step 1</h1></strong>
        <h3>Remove the 4 red endcaps from sample ports and optical connections</h3>
    </div>
    </div>
</div>

    <div class="uk-grid">
    <div class="uk-width-medium-3-10"><img class="uk-thumbnail" src="./images/F2_CAPREM.png" alt="">
    </div>
    <div class="uk-width-medium-7-10">
	<div class="uk-panel uk-panel-box">                             
         <strong><h1>Step 2</h1></strong>
        <h3>Remove the 2 black endcaps from one end of optical fibres #1 and #2.</h3>
    </div>
    </div>
</div>

    <div class="uk-grid">
    <div class="uk-width-medium-3-10"><img class="uk-thumbnail" src="./images/F3_CONOPT.png" alt="">
    </div>
    <div class="uk-width-medium-7-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Step 3</h1></strong>
        <h3>Connect the uncapped ends of fibres #1 and #2 to the optical connections of the optrode housing. Gently turn the connector clockwise until firmly secure (DO NOT OVER TIGHTEN!).</h3>
    </div>
    </div>
</div>

<a href="/install2">
    <div class="uk-grid">
    <div class="uk-width-medium-3-10"><img class="uk-thumbnail" src="./images/F4_INSTFIB.png" alt="">
    </div>
    <div class="uk-width-medium-7-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Step 4</h1></strong>
        <h3>Connect the sample filter to the inlet port of the optrode housing by pressing down firmly on the quick disconnect fitting.<br><Button class="uk-button uk-button-danger uk-button-large" type="button">Next</button></h3>
    </div>
    </div>
</div>
</a>

</body>

    </html>
