<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<strongbody>


<!-- <div class="uk-thumbnail uk-thumbnail-expand" width = "100%">
    <img src="http://placekitten.com/200/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
    <img src="http://placekitten.com/400/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
</div>
 -->




    <div class="uk-grid">
    <div class="uk-width-medium-5-10"><img class="uk-thumbnail" src="./images/F11_CLSLID.png" alt="">
    </div>
    <div class="uk-width-medium-5-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Step 11</h1></strong>
        <h3>Close the lid of the ion system component box, ensuring that all wires and cables are tucked inside, and secure with 4 screws. </h3>

        <a href="/install10">
        <br><button class="uk-button uk-button-danger uk-button-large" type="button">Prev</button>
        </a>
        <a href="/collect">
        <br><button class="uk-button uk-button-danger uk-button-large" type="button">Next</button>
        </a>
    </div>
    </div>
</div>
</a>

</body>

    </html>
