<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<strongody>


<!-- <div class="uk-thumbnail uk-thumbnail-expand" width = "100%">
    <img src="http://placekitten.com/200/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
    <img src="http://placekitten.com/400/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
</div>
 -->

 <div class="uk-grid">
    <div class="uk-width-medium-3-10"><img class="uk-thumbnail" src=".imgaes/F11_CLSLID.png" alt="">
    </div>
    <div class="uk-width-medium-7-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Step 1</h1></strong>
        <h3>Review system setup, and ensure optical connections are secure.</h3>
    </div>
    </div>
</div>

    <div class="uk-grid">
    <div class="uk-width-medium-3-10"><img class="uk-thumbnail" src="http://placekitten.com/300/300" alt="">
    </div>
    <div class="uk-width-medium-7-10">
	<div class="uk-panel uk-panel-box">                             
         <strong><h1>Step 2</h1></strong>
        <h3>Test system for appropriate optical transmission. <button class="uk-button uk-button-danger uk-button-large" type="button">Acquire</button></h3>
    </div>
    </div>
</div>

    <div class="uk-grid">
    <div class="uk-width-medium-3-10"><img class="uk-thumbnail" src="http://placekitten.com/300/300" alt="">
    </div>
    <div class="uk-width-medium-7-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Step 3</h1></strong>
        <h3>Check transmission and adjust spectrometer integration time as needed. (If spectrometer is saturdated reduce int. time, if transmission is low increase int. time). <button class="uk-button uk-button-danger uk-button-large" type="button">Acquire</button><button class="uk-button uk-button-danger uk-button-large" type="button">Accept</button></h3>
    </div>
    </div>
</div>

<a href="/install_fin">
    <div class="uk-grid">
    <div class="uk-width-medium-3-10"><img class="uk-thumbnail" src="http://placekitten.com/300/300" alt="">
    </div>
    <div class="uk-width-medium-7-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Continue</h1></strong>
        <h3><Button class="uk-button uk-button-danger uk-button-large" type="button">Next</button></h3>
    </div>
    </div>
</div>
</a>

</body>

    </html>
