<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<strongody>


<!-- <div class="uk-thumbnail uk-thumbnail-expand" width = "100%">
    <img src="http://placekitten.com/200/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
    <img src="http://placekitten.com/400/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
</div>
 -->




<div class="uk-grid">
    <div class="uk-width" style="width: 400px; height: 300px"><img class="uk-thumbnail" src="./images/F6_TESTLT.png" alt="">
    </div>
    <div class="uk-width" style="width: 400px;">
	<div class="uk-panel uk-panel-box" style="height: 100%;">                             
         <strong><h1>Step 6</h1></strong>
        <p>Test the LED by switching the toggle switch located on the back of the LED to the "Contin." position. The light should be visible at the front of the LED.</p>
    
        <a href="/install05">
        <br><Button class="uk-button uk-button-danger uk-button-large" type="button" style="position: absolute; bottom: 5px; left: 5px;">Prev</button>
        </a>
        <a href="/install07">
        <br><Button class="uk-button uk-button-danger uk-button-large" type="button" style="position: absolute; bottom: 5px; right: 5px;">Next</button>
        </a>
    </div>
    </div>
</div>



</body>

    </html>
