<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<strongody>


<!-- <div class="uk-thumbnail uk-thumbnail-expand" width = "100%">
    <img src="http://placekitten.com/200/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
    <img src="http://placekitten.com/400/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
</div>
 -->



    <div class="uk-grid">
    <div class="uk-width-medium-5-10"><img class="uk-thumbnail" src="./images/F10_CONNECT.png" alt="">
    </div>
    <div class="uk-width-medium-5-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Step 10</h1></strong>
        <h3>Review all connections between components and ensure all systems are connected properly. If operating in battery mode, ensure the battery is connected to the Pi. </h3>

        <a href="/install09">
        <br><button class="uk-button uk-button-danger uk-button-large" type="button">Prev</button>
        </a>

        <a href="/install11">
        <br><button class="uk-button uk-button-danger uk-button-large" type="button">Next</button>
        </a>
    </div>
    </div>
</div>
</a>


</body>

    </html>
