<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<strongody>


<!-- <div class="uk-thumbnail uk-thumbnail-expand" width = "100%">
    <img src="http://placekitten.com/200/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
    <img src="http://placekitten.com/400/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
</div>
 -->


 <div class="uk-grid">
    <div class="uk-width-medium-5-10"><img class="uk-thumbnail" src="./images/F1_NEWFIB.png" alt="">
    </div>
    <div class="uk-width-medium-5-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Step 1</h1></strong>
        <h3>Remove the 4 red endcaps from sample ports and optical connections</h3>
        <a href="/install02">
        <br><Button class="uk-button uk-button-danger uk-button-large" type="button">Next</button>
        </a>
    </div>
    </div>
</div>


    

</body>

    </html>
