<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<strongody>


<!-- <div class="uk-thumbnail uk-thumbnail-expand" width = "100%">
    <img src="http://placekitten.com/200/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
    <img src="http://placekitten.com/400/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
</div>
 -->

 

<div class="uk-grid">
    <div class="uk-width" style="width: 390px; height: 300px"><img class="uk-thumbnail" src="./images/F03_attachOptics.png" alt="">
    </div>
    <div class="uk-width" style="width: 390px; height:390px;">
	<div class="uk-panel uk-panel-box" style="height: 100%;">                             
        <strong><h1>Step 3</h1></strong>
        <p>Remove the 2 black endcaps from the optical patch cords and slid ont othe housing optical connectors </p>
        <a href="/install02"><br><button class="uk-button uk-button-danger uk-button-large" type="button" style="position: absolute; bottom: 5px; left: 5px;" >Prev</button></a>
        <a href="/install04"><br><button class="uk-button uk-button-danger uk-button-large" type="button" style="position: absolute; bottom: 5px; right: 5px;">Next</button></a>
    </div>
    </div>
</div>
</a>


</body>

    </html>
