<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<strongody>


<!-- <div class="uk-thumbnail uk-thumbnail-expand" width = "100%">
    <img src="http://placekitten.com/200/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
    <img src="http://placekitten.com/400/300" alt="">
    <div class="uk-thumbnail-caption">Picture Of Packaged</div>
</div>
 -->
<a href="/install09">
 <div class="uk-grid">
    <div class="uk-width-medium-3-10"><img class="uk-thumbnail" src="./images/F8_CAPREM2.png" alt="">
    </div>
    <div class="uk-width-medium-7-10">
	<div class="uk-panel uk-panel-box">                             
        <strong><h1>Step 8</h1></strong>
        <h3>Remove metal caps from optical connections on the ion system (NOTE: Blue = Light Out, Red = Light In) and the black caps from the remaining ends of optical fibre #1 and #2. <br><Button class="uk-button uk-button-danger uk-button-large" type="button">Next</button></h3>
    </div>
    </div>
</div>
</a>

    
</body>

    </html>
