<!doctype html>

<head>
    <title>Ion Beta | New Fiber</title>
    <%= include /partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include /partials/sidebar.ejs %>
                    <div class="tab-content">
                      <h3>New Fiber</h3>
                      <hr>
                      Step 1
                      <img src="http://placehold.it/350x200">
                      Attach box to circle
                      <hr>
                      Step 2
                      <img src="http://placehold.it/350x200">
                      repeate purple at blue
                      <hr>
                      Step 2
                      <img src="http://placehold.it/350x200">
                      remove mass blopometer
                      <hr><br>
                      <a class="btn btn-danger" href="/newfibertc" role="button">Transmission Check</a>
                    </div>
</body>
<%= include /partials/footer.ejs %>

    </html>
