<!doctype html>

<head>
    <title>Ion Beta | Options</title>
    <%= include /partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include /partials/sidebar.ejs %>
                    <div class="tab-content">
                      <h3>Options</h3>
                      <br>
                          <p>
                                Some options
                          </p>  
                    </div>
</body>
<%= include /partials/footer.ejs %>

    </html>
