
<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<body>
<div class="uk-grid">
    <div class="uk-width-medium-5-10">
    <canvas id="myChart"  height="300"></canvas>
    </div>
    <div class="uk-width-medium-5-10">
    <div class="uk-panel uk-panel-box">                             
        <strong><h1>Looks Good?</h1></strong>
        <a class="uk-button uk-button-danger uk-button-large" href="/setup_change">Change Parameters</a>
        <a class="uk-button uk-button-danger uk-button-large" href="/collectRefr">Accept</a>
    </div>
    </div>
</div>
<br>

</body>

    </html>




           
<script>
var spec = [<%= spectrum %>];
var wave = [<%= wavelength %>];
var myDATA = [];
  for (var i = 0; i < wave.length; i += 20) {
    myDATA.push({"x": wave[i],"y": spec[i]});
  }
var ctx = document.getElementById("myChart");
var scatterChart = new Chart(ctx, {
    type: 'scatter',
    
    data: {
        datasets: [{
            borderColor: '#0099cc',
            backgroundColor: '#33ccff',
            data: myDATA
        }]
    },
    options: {
        
        legend: {
            display: false
        },

        title: {
            display: true,
            fontColor: 'yellow',
            fontSize: 20, 
            text: 'DARK SPECTRUM'
        },
        
        scales: {
            
            yAxes: [{
                ticks:{
                    fontColor: "yellow",
                    max: 15000,
                    beginAtZero: true
                }
                
                scaleLabel: {
                display: true,
                labelString: 'INTENSITY (counts)',
                padding: '10'
                }
            }],
            xAxes: [{
                ticks:{
                    fontColor: "yellow",
                    max: 800,
                    min: 400
                }
                scaleLabel: {
                display: true,
                
                labelString: 'WAVELENGTH (nm)'
                }
            }]
        }
    }
});
</script>