
<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<body>
<div class="uk-grid">
    <div class="uk-width" style="width: 350px;">
    <canvas id="myChart"  height="300"></canvas>
    </div>
    <div class="uk-width" style="width: 350px;">
    <div class="uk-panel uk-panel-box">                             
        <strong><h1>Looks Good?</h1></strong>
        <a class="uk-button uk-button-danger uk-button-large" href="/setup_change">Change Parameters</a>
        <a class="uk-button uk-button-danger uk-button-large" href="/collectData">Accept</a>
    </div>
    </div>
</div>
<br>

</body>

    </html>





                      
<script>
//------------------------------------------------// 
// DISPLAY OF DARK SPECTRUM  
// Plot of the dark spectrum just recorded as a spot-check
// Accept it if it looks good
// Move on to Reference Spectrum Collect
//------------------------------------------------//


var spec = [<%= spectrum %>];
var wave = [<%= wavelength %>];
var myDATA = [];
  for (var i = 0; i < wave.length; i += 20) {
    myDATA.push({"x": wave[i],"y": spec[i]});
  }
var ctx = document.getElementById("myChart");
var scatterChart = new Chart(ctx, {
    type: 'scatter',
    
    data: {
        datasets: [{
            borderColor: '#ff9900',
            backgroundColor: '#ffb84d',
            pointRadius: 1,
            data: myDATA
        }]
    },
    options: {
        
        legend: {
            display: false
        },

        title: {
            display: true,
            fontColor: 'yellow',
            fontSize: 20, 
            text: 'REFERENCE SPECTRUM'
        },
        
        scales: {

            yAxes: [{
                ticks:{
                    fontColor: '#ffff99',
                    max: 20000,
                    beginAtZero: true
                },
                gridLines:{
                    color:'#ffff99',
                    drawBorder: true
                },
                scaleLabel: {
                display: true,
                labelString: 'INTENSITY (counts)',
                fontColor:'#ffff99',
                padding: '10'
                }
            }],
            xAxes: [{
                ticks:{
                    fontColor: '#ffff99',
                    max: 900,
                    min: 300,
                    stepSize: 100
                },
                gridLines:{
                    color:'#ffff99',
                    drawBorder: true
                },
                scaleLabel: {
                display: true,
                fontColor:'#ffff99',
                labelString: 'WAVELENGTH (nm)'
                }
            }]
        }
    }
});
</script>