<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<body>


<div class="uk-grid">
    <div class="uk-width-medium-8-10">
    <div class="uk-panel uk-panel-box">                             
        <strong><h1>Default Parameters</h1></strong>
        

<h3><button class="uk-button" onclick="num(-1,'aqNumber')">-</button> # of Aq.: <input id="aqNumber" type="text"/>&nbsp<button class="uk-button" onclick="num(+1,'aqNumber')">+</button></h3>
<h3><button class="uk-button" onclick="num(-2500,'intTime')">-</button>  Int. Time: <input id="intTime" type="text"/>&nbsp<button class="uk-button" onclick="num(+2500,'intTime')">+</button></h3>
<h3><button class="uk-button" onclick="num(-1,'scanAvg')">-</button>  Scan Avg.: <input id="scanAvg" type="text"/>&nbsp<button class="uk-button" onclick="num(+1,'scanAvg')">+</button></h3>
<h3><button class="uk-button" onclick="num(-5,'boxCar')">-</button>   Box Car: <input id="boxCar" type="text"/>&nbsp<button class="uk-button" onclick="num(+5,'boxCar')">+</button></h3>
<h3><button class="uk-button" onclick="num(-5000,'seqInt')">-</button>   Seq Int.: <input id="seqInt" type="text"/>&nbsp<button class="uk-button" onclick="num(+5000,'seqInt')">+</button></h3>
<h3>  Prefix: YY_MM_DD_<select id="prefix" type="select"/>

  <option>TEST</option>
  <option>K+</option>
  <option>Ca2+</option>
  <option>DATA</option>
  </select>
&nbsp</h3>
<input id='date' name="date" style="width: 500px"/> 
<hr>
            
            <button class="uk-button uk-button-danger uk-button-large"  onclick="setDefaults()">Restore Defaults</button>
            <button class="uk-button uk-button-danger uk-button-large"  onclick="done()">Save</button>
    </div>
</div>

</body>
</html>

<script>
function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1);
        day = '' + d.getDate();
        year = d.getFullYear();
        hour = d.getHours();
        min = d.getMinutes();
        sec = d.getSeconds();

        

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    if (hour.length < 2) hour = '0' + hour;
    if (min.length < 2) min = '0' + min;
    if (sec.length < 2) sec = '0' + sec;

    return [year, month, day].join('-') + 'T' + [hour, min, sec].join('-');
}

document.getElementById('date').value = formatDate(Date());


 $(document).ready ( function(){
    if (localStorage.getItem("aqNumber") == null){
        setDefaults();
    }
        getValues();
 })

function num(value,field){
    if (parseInt(document.getElementById(field).value) == 0 && value <0){return}
    document.getElementById(field).value = parseInt(document.getElementById(field).value)+value;
setValues();
}

function setDefaults(){
    alert("FACTORY DEFAULTS SET!")
    localStorage.setItem("aqNumber", 5);
    localStorage.setItem("intTime", 10000);
    localStorage.setItem("scanAvg", 5);
    localStorage.setItem("boxCar", 30);
    localStorage.setItem("seqInt", 10000);
    localStorage.setItem("prefix", 'DATA');
    getValues();
}

function done(){
    setValues()
window.location.href='/'
}

function setValues(){
     localStorage.setItem("aqNumber",document.getElementById("aqNumber").value) 
     localStorage.setItem("intTime",document.getElementById("intTime").value)
     localStorage.setItem("scanAvg",document.getElementById("scanAvg").value)  
     localStorage.setItem("boxCar",document.getElementById("boxCar").value) 
     localStorage.setItem("seqInt",document.getElementById("seqInt").value)  
     localStorage.setItem("prefix",document.getElementById("prefix").value)
}

function getValues(){
    console.log("Values Get!")
    document.getElementById("aqNumber").value = localStorage.getItem("aqNumber")
    document.getElementById("intTime").value = localStorage.getItem("intTime")
    document.getElementById("scanAvg").value = localStorage.getItem("scanAvg")
    document.getElementById("boxCar").value = localStorage.getItem("boxCar")
    document.getElementById("seqInt").value = localStorage.getItem("seqInt")
    document.getElementById("prefix").value = localStorage.getItem("prefix")
}

</script>