<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<body>


<div class="uk-grid">
    <div class="uk-width-medium-8-10">
    <div class="uk-panel uk-panel-box">                             
        <strong><h1>Default Parameters</h1></strong>
        

<h3><button class="uk-button" onclick="num(-1,'aqNumber')">-</button> # of Aq.: <input id="aqNumber" type="text"/>&nbsp<button class="uk-button" onclick="num(+1,'aqNumber')">+</button></h3>
<h3><button class="uk-button" onclick="num(-1,'intTime')">-</button>  Int. Time: <input id="intTime" type="text"/>&nbsp<button class="uk-button" onclick="num(+1,'intTime')">+</button></h3>
<h3><button class="uk-button" onclick="num(-1,'scanAvg')">-</button>  Scan Avg.: <input id="scanAvg" type="text"/>&nbsp<button class="uk-button" onclick="num(+1,'scanAvg')">+</button></h3>
<h3><button class="uk-button" onclick="num(-1,'boxCar')">-</button>   Box Car: <input id="boxCar" type="text"/>&nbsp<button class="uk-button" onclick="num(+1,'boxCar')">+</button></h3>
<h3><button class="uk-button" onclick="num(-1,'seqInt')">-</button>   Seq Int.: <input id="seqInt" type="text"/>&nbsp<button class="uk-button" onclick="num(+1,'seqInt')">+</button></h3>
<h3><button class="uk-button" onclick="num(-1,'prefix')">-</button>   Prefix: Ion_<input id="prefix" type="text"/>&nbsp<button class="uk-button" onclick="num(+1,'prefix')">+</button></h3>
<hr>
            
            <button class="uk-button uk-button-danger uk-button-large"  onclick="setDefaults()">Restore Defaults</button>
            <button class="uk-button uk-button-danger uk-button-large"  onclick="done()">Save</button>
    </div>
</div>

</body>
</html>

<script>

 $(document).ready ( function(){
    if (localStorage.getItem("aqNumber") == null){
        setDefaults();
    }
        getValues();
 })

function num(value,field){
    if (parseInt(document.getElementById(field).value) == 0 && value <0){return}
    document.getElementById(field).value = parseInt(document.getElementById(field).value)+value;
setValues();
}

function setDefaults(){
    alert("Defaults Set!")
    localStorage.setItem("aqNumber", 5);
    localStorage.setItem("intTime", 5);
    localStorage.setItem("scanAvg", 5);
    localStorage.setItem("boxCar", 5);
    localStorage.setItem("seqInt", 5);
    localStorage.setItem("prefix", 5);
    getValues();
}

function done(){
    setValues()
window.location.href='/'
}

function setValues(){
     localStorage.setItem("aqNumber",document.getElementById("aqNumber").value) 
     localStorage.setItem("intTime",document.getElementById("intTime").value)
     localStorage.setItem("scanAvg",document.getElementById("scanAvg").value)  
     localStorage.setItem("boxCar",document.getElementById("boxCar").value) 
     localStorage.setItem("seqInt",document.getElementById("seqInt").value)  
     localStorage.setItem("prefix",document.getElementById("prefix").value)
}

function getValues(){
    console.log("Values Get!")
    document.getElementById("aqNumber").value = localStorage.getItem("aqNumber")
    document.getElementById("intTime").value = localStorage.getItem("intTime")
    document.getElementById("scanAvg").value = localStorage.getItem("scanAvg")
    document.getElementById("boxCar").value = localStorage.getItem("boxCar")
    document.getElementById("seqInt").value = localStorage.getItem("seqInt")
    document.getElementById("prefix").value = localStorage.getItem("prefix")
}

</script>