<!doctype html>

<head>
    <title>Ion Beta | Dashboard</title>
    <%= include /partials/header.ejs %>
</head>
<body>


<div class="uk-grid">
    <div class="uk-width-medium-8-10">
    <div class="uk-panel uk-panel-box">                             
        <strong>
        <h1>Acquisition Parameters</h1>
        </strong>
        <hr>
<h3>
<table align="center" style="margin: 0px auto;">
<tr>
<td></td> <td>Prefix:</td><td><select id="prefix" type="select"/>

  <option>TEST</option>
  <option>K+</option>
  <option>Ca2+</option>
  <option>DATA</option>
  </select>
</td><td></td><td></td></tr> 
<tr>
<td><button class="uk-button" onclick="num(-1,'aqNumber')">-</button></td><td> # of Aq.: </td><td><input id="aqNumber" type="text"/></td><td>(#)</td><td>&nbsp<button class="uk-button" onclick="num(+1,'aqNumber')">+</button></td></tr>
<tr>
<td><button class="uk-button" onclick="num(-2500,'intTime')">-</button></td><td>  Int. Time: </td><td><input id="intTime" type="text"/></td><td>(&mu;s)</td><td>&nbsp<button class="uk-button" onclick="num(+2500,'intTime')">+</button></td></tr>
<tr>
<td><button class="uk-button" onclick="num(-1,'scanAvg')">-</button></td><td>  Scan Avg.:</td><td><input id="scanAvg" type="text"/></td><td>(#)</td><td>&nbsp<button class="uk-button" onclick="num(+1,'scanAvg')">+</button></td></tr>
<tr>
<td><button class="uk-button" onclick="num(-5,'boxCar')">-</button></td><td>   Box Car: </td><td><input id="boxCar" type="text"/></td><td>(px)</td><td>&nbsp<button class="uk-button" onclick="num(+5,'boxCar')">+</button></td></tr>
<tr>
<td><button class="uk-button" onclick="num(-5000,'seqInt')">-</button></td><td>   Seq Int.: </td><td><input id="seqInt" type="text"/></td><td>(ms)</td><td>&nbsp<button class="uk-button" onclick="num(+5000,'seqInt')">+</button></td></tr>

</table>
</h3>
<hr>
<center>
            <button class="uk-button uk-button-danger uk-button-large"  onclick="setDefaults()">System Defaults</button>
            <button class="uk-button uk-button-danger uk-button-large"  onclick="done()">Save</button>
</center>    
    </div>
</div>

</body>
</html>

<script>

global.newIntTime = localStorage.getitem("intTime");
global.newInterval = localStorage.getitem("seqInt");


 $(document).ready ( function(){
    if (localStorage.getItem("aqNumber") == null){
        setDefaults();
    }
        getValues();
 })

function num(value,field){
    if (parseInt(document.getElementById(field).value) == 0 && value <0){return}
    document.getElementById(field).value = parseInt(document.getElementById(field).value)+value;
setValues();
}

function setDefaults(){
    alert("FACTORY DEFAULTS SET!")
    localStorage.setItem("aqNumber", 5);
    localStorage.setItem("intTime", 10000);
    localStorage.setItem("scanAvg", 5);
    localStorage.setItem("boxCar", 30);
    localStorage.setItem("seqInt", 10000);
    localStorage.setItem("prefix", 'DATA');
    getValues();
}

function done(){
    setValues()
window.location.href='/'
}

function setValues(){
     localStorage.setItem("aqNumber",document.getElementById("aqNumber").value) 
     localStorage.setItem("intTime",document.getElementById("intTime").value)
     localStorage.setItem("scanAvg",document.getElementById("scanAvg").value)  
     localStorage.setItem("boxCar",document.getElementById("boxCar").value) 
     localStorage.setItem("seqInt",document.getElementById("seqInt").value)  
     localStorage.setItem("prefix",document.getElementById("prefix").value)
}

function getValues(){
    console.log("Values Get!")
    document.getElementById("aqNumber").value = localStorage.getItem("aqNumber")
    document.getElementById("intTime").value = localStorage.getItem("intTime")
    document.getElementById("scanAvg").value = localStorage.getItem("scanAvg")
    document.getElementById("boxCar").value = localStorage.getItem("boxCar")
    document.getElementById("seqInt").value = localStorage.getItem("seqInt")
    document.getElementById("prefix").value = localStorage.getItem("prefix")
}

</script>