<!doctype html>

<head>
    <title>Ion Beta | Dashboard V1</title>
    <%= include /partials/header.ejs %>

</head>
<body>
<br>
<h1>Tap the big red button to shutdown.</h1>
<br>

<form action="http://192.168.42.1/cgi-bin/settings.php" method="post">
<h1><button class="uk-button uk-button-danger uk-button-small" name="shutdown" value="Shutdown" id="set" type="submit">Shutdown</button></h1>
</form>
</body>

    </html>

