<!doctype html>

<head>
    <title>Ion Beta | Dashboard V1</title>
    <%= include /partials/header.ejs %>

</head>
<body>
<iframe src="http://192.168.42.1/cgi-bin/stopsequence.php"height="0" width="0"></iframe>
<br>
<h1>Sequence stopped.</h1>
<br>


<h1><button class="uk-button uk-button-danger uk-button-small" onclick="window.location.href='/collectData'">BACK</button></h1>
<h1><button class="uk-button uk-button-danger uk-button-small" onclick="window.location.href='/'">MAIN</button></h1>
</form>
</body>

    </html>

