body{
	padding-top:50px;
	background:#0A0A0A;
}
.navbar{
	margin:0;
}
#admin-sidebar{
	width:220px;
	height:100%;
	float:left;
	padding:0;
}
#admin-sidebar li{
	list-style: none;
	display:block;
	padding:10px;
	font-weight:bold;
}
#admin-sidebar a .active{
	background-color:#fff;
	color:#FFF;
}
#admin-sidebar a {
	color:#eee;
	text-decoration: none;
}
#admin-sidebar li:hover{
	background-color:#4A4B50;
	color:#FFBC01;
}
.tab-pane {
	background:none;
}
.info-list{
	max-width:1280px;
	min-width:500px;
}
.tab-content{
	width: calc(100% - 220px);
	padding:0 20px;
	height:calc(100vh - 90px);
	overflow-y:scroll;
	float:left;
	background:#393A42;
	background:#4A4B50;
	color:#eee;
}
.tab-content p {
	margin-top:0;
}
.tab-content>.active {
    display: inline;
}
.tab-content h3 {
	letter-spacing:1px;
	margin:20px 0;
	display:inline-block;
	background:none;
}
.tab-content .header {
	margin: 0 0 20px 0;
	max-width:1280px;
	min-width:500px;
	text-align: right
}
.tab-content .header button {
	font-weight:bold;
	display:inline-block;
}
.tab-content .header span {
	display:inline-block;
	width:calc(100% - 90px);
	text-align:left;
}
